

    <table class="w-2/5 rounded-lg shadow-xl text-sm text-left text-gray-500 my-10 mx-10">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Takım
                </th>
                <th scope="col" class="px-6 py-3">
                    G
                </th>
                <th scope="col" class="px-6 py-3">
                    Y
                </th>
                <th scope="col" class="px-6 py-3">
                    B
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b hover:bg-orange-300">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    Galatasaray
                </th>
                <td class="px-6 py-4">
                    5
                </td>
                <td class="px-6 py-4">
                    0
                </td>
                <td class="px-6 py-4">
                    0
                </td>
            </tr>
            <tr class="bg-white border-b hover:bg-orange-300">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    Fenerbahçe
                </th>
                <td class="px-6 py-4">
                    1
                </td>
                <td class="px-6 py-4">
                    0
                </td>
                <td class="px-6 py-4">
                    0
                </td>
            </tr>
            <tr class="bg-white hover:bg-orange-300">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    Beşiktaş
                </th>
                <td class="px-6 py-4">
                    0
                </td>
                <td class="px-6 py-4">
                    0
                </td>
                <td class="px-6 py-4">
                    0
                </td>
            </tr>
        </tbody>
    </table>


